@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;
    }

header{
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-family:"Montserrat", sans-serif;
    height: 100px;
}

ul{
    display: flex;
    gap: 15rem;
}
.logo-sesi-img{
    width: 100px;
    height: 100px;
}

.logo-img{
    width: 400px;
}

.nav-bar{
    margin-left: 200px;
    flex-direction: row;
    display: flex;
    gap: 8rem;
    font-weight: bold; 
}

li a {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--bg-color);
}

li a:hover {
    color:rgba(233, 233, 233, 0.733);
    transition: .3s ease-in-out;
}
.vertical-line {
    width: 2.2px;
    height: 50px;
    background-color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.bx bx-menu{
    width: 100px;
}





































































